/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

#define COL      0
#define QWE      1
#define SYM      2
#define NUM      3
#define ACC      4
#define NAV      5
#define NV2      6
#define FN       7

#define COMPOSE_KEY K_APP

&caps_word {
    continue-list = <UNDERSCORE BACKSPACE DELETE COMPOSE_KEY GRAVE SQT>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

/*
 * ┌─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┐
 * │ esc │  Q  │  W  │  D  │  P  │  B  │  K  │  L  │  U  │  Y  │  '  │bkspc│
 * ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
 * │ tab │  A  │  R  │  S  │  T  │  G  │  M  │  N  │  E  │  I  │  O  │enter│
 * ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
 * │nums │  Z  │  X  │  C  │  F  │  V  │  H  │  J  │  ,  │  .  │  /  │term │
 * └─────┴─────┴─────┴─────┼─────┼─────┼─────┼─────┼─────┴─────┴─────┴─────┘
 *                         │ nav │space│ sym │ctrl │
 *                         └─────┴─────┴─────┴─────┘
 */
        colemak {
            bindings = <
    &lt FN ESC   &kp Q      &kp W      &kp D &kp P      &kp B     &kp K &kp L      &kp U      &kp Y     &kp SQT       &kp BSPC
    &kp TAB      &kp A      &kp R      &kp S &kp T      &kp G     &kp M &kp N      &kp E      &kp I     &kp O         &kp ENTER
    &mo NUM      &mt LSFT Z &acl ACC X &kp C &bhm SYM F &kp V     &kp H &bhm SYM J &kp COMMA  &kp DOT   &mt RSFT FSLH &kp LC(LA(EQUAL))
    &kp LCTRL    &kp LGUI   &kp LALT   &none &mo NAV    &kp SPACE &none &kp RCTRL  &kp LEFT   &kp DOWN  &kp UP        &kp RIGHT
            >;
        };

/*
 * ┌─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┐
 * │ esc │  Q  │  W  │  E  │  R  │  T  │  Y  │  U  │  I  │  O  │  P  │bkspc│
 * ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
 * │ tab │  A  │  S  │  D  │  F  │  G  │  H  │  J  │  K  │  L  │  '  │enter│
 * ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
 * │shift│  Z  │  X  │  C  │  V  │  B  │  N  │  M  │  ,  │  .  │  /  │shift│
 * └─────┴─────┴─────┴─────┼─────┼─────┼─────┼─────┼─────┴─────┴─────┴─────┘
 *                         │ nav │space│ sym │term │
 *                         └─────┴─────┴─────┴─────┘
 */
        qwerty {
            bindings = <
    &lt FN ESC &kp Q    &kp W    &kp E &kp R   &kp T     &kp Y   &kp U             &kp I     &kp O    &kp P    &kp BSPC
    &kp TAB    &kp A    &kp S    &kp D &kp F   &kp G     &kp H   &kp J             &kp K     &kp L    &kp SQT  &kp ENTER
    &kp LSHFT  &kp Z    &kp X    &kp C &kp V   &kp B     &kp N   &kp M             &kp COMMA &kp DOT  &kp UP   &kp RSHFT
    &kp LCTRL  &kp LGUI &kp LALT &none &mo NAV &kp SPACE &mo SYM &kp LC(LA(EQUAL)) &kp FSLH  &kp LEFT &kp DOWN &kp RIGHT
            >;
        };

/* 
 * ┌─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┐
 * │     │  `  │  @  │  #  │  [  │  ]  │     │  ^  │  *  │  ;  │  "  │     │
 * ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
 * │     │  ~  │  %  │  -  │  (  │  )  │  +  │  =  │  |  │  :  │  &  │     │
 * ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
 * │     │  !  │  $  │  _  │  {  │  }  │     │  \  │  <  │  >  │  ?  │     │
 * └─────┴─────┴─────┴─────┼─────┼─────┼─────┼─────┼─────┴─────┴─────┴─────┘
 *                         │     │     │     │     │
 *                         └─────┴─────┴─────┴─────┘
 */
        symbols {
            bindings = <
    &trans &kp GRAVE       &kp AT      &kp HASH       &kp LEFT_BRACKET     &kp RIGHT_BRACKET     &none &kp CARET         &kp STAR      &kp SEMICOLON    &kp DOUBLE_QUOTES &trans
    &trans &kp TILDE       &kp PERCENT &kp MINUS      &kp LEFT_PARENTHESIS &kp RIGHT_PARENTHESIS &kp PLUS  &kp EQUAL     &kp PIPE      &kp COLON        &kp AMPERSAND     &trans
    &trans &kp EXCLAMATION &doeu       &kp UNDERSCORE &kp LEFT_BRACE       &kp RIGHT_BRACE       &none     &kp BACKSLASH &kp LESS_THAN &kp GREATER_THAN &kp QUESTION      &trans
    &trans &trans          &trans      &trans         &trans               &trans                &trans    &trans        &trans        &trans           &trans            &trans
            >;
        };

/*
 * ┌─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┐
 * │     │     │     │     │     │     │     │  1  │  2  │  3  │  0  │     │
 * ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
 * │     │     │     │     │     │     │     │  4  │  5  │  6  │  .  │     │
 * ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
 * │     │     │     │     │     │     │     │  7  │  8  │  9  │  ,  │     │
 * └─────┴─────┴─────┴─────┼─────┼─────┼─────┼─────┼─────┴─────┴─────┴─────┘
 *                         │     │     │     │     │
 *                         └─────┴─────┴─────┴─────┘
 */ 
        numbers {
            bindings = <
    &trans &trans &trans &trans &trans &trans &trans &kp N1 &kp N2 &kp N3 &kp N0    &trans
    &trans &trans &trans &trans &trans &trans &trans &kp N4 &kp N5 &kp N6 &kp DOT   &trans
    &trans &trans &trans &trans &trans &trans &trans &kp N7 &kp N8 &kp N9 &kp COMMA &trans
    &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans    &trans
            >;
        };

/*
 * ┌─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┐
 * │     │     │     │     │     │     │     │     │     │  Ù  │     │     │
 * ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
 * │     │  À  │     │     │     │     │     │     │     │ È É │  Ì  │  Ò  │
 * ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
 * │     │     │     │     │     │     │     │     │     │     │     │     │
 * └─────┴─────┴─────┴─────┼─────┼─────┼─────┼─────┼─────┴─────┴─────┴─────┘
 *                         │     │     │     │     │
 *                         └─────┴─────┴─────┴─────┘
 */
        accents {
            bindings = <
    &trans &trans    &trans &trans &trans &trans &trans &trans &acc_u &trans &trans    &trans
    &trans &acc_a    &trans &trans &trans &trans &trans &trans &acc_e &acc_i &acc_o    &trans
    &trans &kp LSHFT &trans &trans &trans &trans &trans &trans &trans &trans &kp RSHFT &trans
    &trans &trans    &trans &trans &trans &trans &trans &trans &trans &trans &trans    &trans
            >;
        };

/*
 * ┌─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┐
 * │     │shift│shift│shift│     │     │     │     │     │     │     │ del │
 * ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
 * │nav2 │ctrl │ win │ alt │ tab │     │left │down │ up  │right│     │     │
 * ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
 * │     │     │     │     │     │     │     │     │     │     │     │     │
 * └─────┴─────┴─────┴─────┼─────┼─────┼─────┼─────┼─────┴─────┴─────┴─────┘
 *                         │     │     │     │     │
 *                         └─────┴─────┴─────┴─────┘
 */
        nav {
            bindings = <
    &trans   &kp LSHFT &kp LSHFT &kp LSHFT &trans  &trans &trans   &trans    &trans   &trans    &trans    &kp DEL
    &mo NV2  &kp LCTRL &kp LGUI  &kp LALT  &kp TAB &trans &kp LEFT &kp DOWN  &kp UP   &kp RIGHT &trans    &trans
    &trans   &trans    &trans    &trans    &trans  &trans &trans   &trans    &trans   &trans    &trans    &trans
    &trans   &trans    &trans    &trans    &trans  &trans &trans   &trans    &trans   &trans    &trans    &trans
            >;
        };
/*
 * ┌─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┐
 * │     │     │     │     │     │     │     │     │     │     │     │     │
 * ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
 * │     │     │     │     │     │     │home │pgdwn│pgup │ end │     │     │
 * ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
 * │     │     │     │     │     │     │     │     │     │     │     │     │
 * └─────┴─────┴─────┴─────┼─────┼─────┼─────┼─────┼─────┴─────┴─────┴─────┘
 *                         │     │     │     │     │
 *                         └─────┴─────┴─────┴─────┘
 */
        nav2 {
            bindings = <
    &trans &trans &trans &trans &trans &trans &trans   &trans    &trans    &trans  &trans &trans
    &trans &trans &trans &trans &trans &trans &kp HOME &kp PG_DN &kp PG_UP &kp END &trans &trans
    &trans &trans &trans &trans &trans &trans &trans   &trans    &trans    &trans  &trans &trans
    &trans &trans &trans &trans &trans &trans &trans   &trans    &trans    &trans  &trans &bootloader
            >;
        };

/*
 * ┌─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┐
 * │     │     │     │     │     │     │     │ F1  │ F2  │ F3  │ F10 │ qwe │
 * ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
 * │caps │     │     │     │     │     │     │ F4  │ F5  │ F6  │ F11 │     │
 * ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
 * │     │     │     │     │     │     │     │ F7  │ F8  │ F9  │ F12 │     │
 * └─────┴─────┴─────┴─────┼─────┼─────┼─────┼─────┼─────┴─────┴─────┴─────┘
 *                         │     │     │     │     │
 *                         └─────┴─────┴─────┴─────┘
 */
        fn {
            bindings = <
    &trans     &rgb_ug RGB_TOG &rgb_ug RGB_ON  &rgb_ug RGB_OFF &none           &none           &none &kp F1 &kp F2 &kp F3 &kp F10 &tog QWE
    &kp CAPS   &rgb_ug RGB_HUI &rgb_ug RGB_SAI &rgb_ug RGB_BRI &rgb_ug RGB_SPI &rgb_ug RGB_EFF &none &kp F4 &kp F5 &kp F6 &kp F11 &none
    &none      &rgb_ug RGB_HUD &rgb_ug RGB_SAD &rgb_ug RGB_BRD &rgb_ug RGB_SPD &rgb_ug RGB_EFR &none &kp F7 &kp F8 &kp F9 &kp F12 &none
    &bt BT_CLR &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_SEL 4    &none &none  &none  &none  &none   &none
            >;
        };
    };

    behaviors {
        bhm: balanced_homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <175>;
            quick-tap-ms = <150>;
            flavor = "balanced";
            bindings = <&mo>, <&kp>;
        };

        acl: accent_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "ACCENT_LAYER";
            #binding-cells = <2>;
            tapping-term-ms = <175>;
            flavor = "hold-preferred";
            bindings = <&mo>, <&kp>;
            hold-trigger-key-positions = <8 13 20 21 22>;
            retro-tap;
        };

        nmb: number_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "NUMBER_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <175>;
            quick-tap-ms = <150>;
            flavor = "hold-preferred";
            bindings = <&mo>, <&kp>;
            retro-tap;
        };

        doeu: dollar_euro {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp DOLLAR>, <&euro>;
        };

        acc_a: accented_a {
            compatible = "zmk,behavior-mod-morph";
            label = "ACCENTED_A";
            #binding-cells = <0>;
            bindings = <&lo_acc_a>, <&up_acc_a>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        acc_e: accented_e {
            compatible = "zmk,behavior-tap-dance";
            label = "ACCENTED_E";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&acc_e_grv>, <&acc_e_acu>;
        };

        acc_e_grv: accented_e_grv {
            compatible = "zmk,behavior-mod-morph";
            label = "ACCENTED_E_GRV";
            #binding-cells = <0>;
            bindings = <&lo_acc_e>, <&up_acc_e>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        acc_e_acu: accented_e_acu {
            compatible = "zmk,behavior-mod-morph";
            label = "ACCENTED_E_ACU";
            #binding-cells = <0>;
            bindings = <&lo_acc_e_acu>, <&up_acc_e_acu>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        acc_i: accented_i {
            compatible = "zmk,behavior-mod-morph";
            label = "ACCENTED_I";
            #binding-cells = <0>;
            bindings = <&lo_acc_i>, <&up_acc_i>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        acc_o: accented_o {
            compatible = "zmk,behavior-mod-morph";
            label = "ACCENTED_O";
            #binding-cells = <0>;
            bindings = <&lo_acc_o>, <&up_acc_o>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        acc_u: accented_u {
            compatible = "zmk,behavior-mod-morph";
            label = "ACCENTED_U";
            #binding-cells = <0>;
            bindings = <&lo_acc_u>, <&up_acc_u>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    macros {
        fwd_arrow: fwd_arrow {
            label = "TYPE_FWD_ARROW";
            compatible = "zmk,behavior-macro";
            tap-ms = <0>;
            wait-ms = <0>;
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp MINUS &kp GREATER_THAN>
                ;
        };

        bwd_arrow: bwd_arrow {
            label = "TYPE_BWD_ARROW";
            compatible = "zmk,behavior-macro";
            tap-ms = <0>;
            wait-ms = <0>;
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LESS_THAN &kp MINUS>
                ;
        };

        fwd_darrow: fwd_double_arrow {
            label = "TYPE_FWD_DOUBLE_ARROW";
            compatible = "zmk,behavior-macro";
            tap-ms = <0>;
            wait-ms = <0>;
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp EQUAL &kp GREATER_THAN>
                ;
        };

        elixir_map: elixir_map {
            label = "TYPE_ELIXIR_MAP";
            compatible = "zmk,behavior-macro";
            tap-ms = <0>;
            wait-ms = <0>;
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp PERCENT &kp LEFT_BRACE>
                ;
        };

        elixir_pipe: elixir_pipeq {
            label = "TYPE_ELIXIR_PIPE";
            compatible = "zmk,behavior-macro";
            tap-ms = <0>;
            wait-ms = <0>;
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp PIPE &kp GREATER_THAN>
                ;
        };

        euro: euro {
            label = "TYPE_EURO_SYMBOL";
            compatible = "zmk,behavior-macro";
            tap-ms = <0>;
            wait-ms = <0>;
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp COMPOSE_KEY &kp E &kp EQUAL>
                ;
        };

        lo_acc_a: lower_accented_a {
            label = "LOWER_ACCENTED_A";
            compatible = "zmk,behavior-macro";
            tap-ms = <0>;
            wait-ms = <0>;
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp COMPOSE_KEY &kp A &kp GRAVE>
                ;
        };

        up_acc_a: upper_accented_a {
            label = "UPPER_ACCENTED_A";
            compatible = "zmk,behavior-macro";
            tap-ms = <0>;
            wait-ms = <0>;
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp COMPOSE_KEY &kp LS(A) &kp GRAVE>
                ;
        };

        lo_acc_e: lower_accented_e {
            label = "LOWER_ACCENTED_E";
            compatible = "zmk,behavior-macro";
            tap-ms = <0>;
            wait-ms = <0>;
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp COMPOSE_KEY &kp E &kp GRAVE>
                ;
        };

        up_acc_e: upper_accented_e {
            label = "UPPER_ACCENTED_E";
            compatible = "zmk,behavior-macro";
            tap-ms = <0>;
            wait-ms = <0>;
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp COMPOSE_KEY &kp LS(E) &kp GRAVE>
                ;
        };

        lo_acc_e_acu: lower_accented_e_acu {
            label = "LOWER_ACCENTED_E_ACU";
            compatible = "zmk,behavior-macro";
            tap-ms = <0>;
            wait-ms = <0>;
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp COMPOSE_KEY &kp E &kp SQT>
                ;
        };

        up_acc_e_acu: upper_accented_e_acu {
            label = "UPPER_ACCENTED_E_ACU";
            compatible = "zmk,behavior-macro";
            tap-ms = <0>;
            wait-ms = <0>;
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp COMPOSE_KEY &kp LS(E) &kp SQT>
                ;
        };

        lo_acc_i: lower_accented_i {
            label = "LOWER_ACCENTED_I";
            compatible = "zmk,behavior-macro";
            tap-ms = <0>;
            wait-ms = <0>;
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp COMPOSE_KEY &kp I &kp GRAVE>
                ;
        };

        up_acc_i: upper_accented_i {
            label = "UPPER_ACCENTED_I";
            compatible = "zmk,behavior-macro";
            tap-ms = <0>;
            wait-ms = <0>;
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp COMPOSE_KEY &kp LS(I) &kp GRAVE>
                ;
        };

        lo_acc_o: lower_accented_o {
            label = "LOWER_ACCENTED_O";
            compatible = "zmk,behavior-macro";
            tap-ms = <0>;
            wait-ms = <0>;
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp COMPOSE_KEY &kp O &kp GRAVE>
                ;
        };

        up_acc_o: upper_accented_o {
            label = "UPPER_ACCENTED_O";
            compatible = "zmk,behavior-macro";
            tap-ms = <0>;
            wait-ms = <0>;
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp COMPOSE_KEY &kp LS(O) &kp GRAVE>
                ;
        };

        lo_acc_u: lower_accented_u {
            label = "LOWER_ACCENTED_U";
            compatible = "zmk,behavior-macro";
            tap-ms = <0>;
            wait-ms = <0>;
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp COMPOSE_KEY &kp U &kp GRAVE>
                ;
        };

        up_acc_u: upper_accented_u {
            label = "UPPER_ACCENTED_U";
            compatible = "zmk,behavior-macro";
            tap-ms = <0>;
            wait-ms = <0>;
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp COMPOSE_KEY &kp LS(U) &kp GRAVE>
                ;
        };
        
    };
};